*{
    margin: 0;
    padding: 0;
}


header{
    height: 8.4rem;
    background-color: aliceblue;
}

.logo-topo{
   display: block;
   margin: auto;
}

.formulario{
    border: 2px solid rgb(204, 234, 237);
    width: 23%;
    display: flex ;
    flex-direction: column;
    gap: 0.8rem;
    margin-left: 33%;
    margin-top: 2%;
    padding: 5%;
    background: rgb(221, 230, 239) ;

}

.formulario input{
    width: 80%;
    padding: 5px;
    background-color: rgb(226, 239, 239);

}

select{
    width: 40%;
    padding: 3px;
}


.buscar{
    border: 2px solid green;
    margin-top: 10.4rem ;
    height: 47.9rem;
}

.buscar h2{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.containers{
    margin-left: 22.4rem;
    margin-top: 1.2rem;
}

.containers label{
    font-size: 20px;
}

.containers input{
    width: 25.9rem;
    padding: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 2px;
}

.btn-pesquisar{
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(144, 205, 242) ;
}

.btn-pesquisar:hover{
    background-color: rgb(143, 174, 183);
}

.resultado{
    border: 2px solid green;
    height: 38.4rem;
    width: 70.8rem ;
    margin-left: -8.3rem;
}

table td, 
table th{
    border-color: black;
    border: 3px solid black;
    width: 68.9rem;
    text-align: center;
    background-color: rgb(216, 237, 237);
}

.edição-excluir{
    background-color: red;
    padding: 5px;
    border-radius: 0px;
}

.edição-editar{
    background-color: rgb(5, 174, 5);
    padding: 5px;
    border-radius: 0px;
}

.edição-editar:hover,
.edição-excluir:hover{
    padding: 6px;
    

}