*{
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

body{
    background-image: linear-gradient(to bottom, rgb(58, 150, 58), #b3aaaa);
    height: 92vh;
}

.geral{
    margin: auto;
    margin-top: 4%;
    padding: 90px;
    display: grid;
    place-items: center;
    height: 400px;
    width: 380px;
}

.corpo{
    height: 300px;
    width: 320px;
    margin-left: 10px;  
    padding: 30px;
}

.caixa{
    height: 2.5rem;
    width: 19.5rem;
    border-top: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: #b7bcb5;
}

.btn-cadastrar{
    margin-left: 2.9rem;
    padding: 10px;
    width: 12.9rem;
    background-color: rgb(101, 169, 33);
    font-size: 15px;
    cursor: pointer;
}

.btn-cadastrar:hover{
    height: 46px;
    padding: 10px;
    font-size: 17px
}

.icons{
    border: 2px solid white;
    margin-left: 20.9rem;
    
}

.inf{
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}