*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/fundo-agendamento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.geral{
    border: 2px solid green;
    width: 58%;
    margin: auto;
    margin-top: 10%;
    padding: 3.5rem;
    height: 34.8rem;
}

.header{
    
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    padding: 1%;
}

.header h1{
    font-size: 25px;
}

.header p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 10px ;
    font-size: 16px;
    text-decoration: none;
    color: white;
    border: 2px solid green;
    border-radius: 5px;
    background: green;
    padding: 1%  ;
    
}

.link:hover{
    padding: 1.1% ;
}

